.header__loader {
  height: 4px;
  background-color: $grt-blue;
  position: static;
  overflow: hidden;

  &::before,
  &::after {
    width: 33%;
    height: 4px;
    content: "";
    position: absolute;
    transition: all linear 2s;
  }

  &::before {
    background-color: #fc3f71;
    left: 0;
  }

  &::after {
    background-color: #1ad6ba;
    right: 0;
  }

  @keyframes loading {
    50% {
      width: 50%;
    }
  }
}

body.loading {
  .header__loader {
    display: none;

    position: sticky;
    top: 0;
    z-index: 300;

    &::before,
    &::after {
      animation: loading ease infinite 4s;
    }

    @media (min-width: 768px) {
      display: block;
    }
  }
}
